In [25]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
with open('machine.txt','rb') as f:
    contents = f.read()
    contents = contents.decode("utf-16")

In [9]:
f

In [13]:
contents()

TypeError: 'str' object is not callable

In [15]:
data = pd.read_csv('machine.txt', encoding='UTF-16')

In [16]:
data

  New machine\t    Old machine
0           42.1\t        42.7
1         41\t            43.6
2           41.3\t        43.8
3           41.8\t        43.3
4           42.4\t        42.5
5           42.8\t        43.5
6           43.2\t        43.1
7           42.3\t        41.7
8             41.8\t        44
9           42.7\t        44.1

In [17]:
data = pd.read_csv('machine.txt', encoding='UTF-16' , sep = '\t')

In [18]:
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [58]:
st.ttest_rel(data['New machine'],data['Old machine'])

Ttest_relResult(statistic=-3.0614273841115853, pvalue=0.01354033565163249)

In [76]:
data=data[['New machine','Old machine']]

In [93]:
data_New machine, data_Old machine = data['New machine'], data['Old machine']

SyntaxError: invalid syntax (Temp/ipykernel_4456/3302648522.py, line 1)

In [84]:
New machine = data['New machine']
Old machine = data['Old machine']

SyntaxError: invalid syntax (Temp/ipykernel_4456/4190124726.py, line 1)

In [67]:
data['New machine'] =  pd.to_numeric(data['New machine'], errors='coerce')
data['Old machine'] =  pd.to_numeric(data['Old machine'], errors='coerce')

In [69]:
new_machine_mean = data['New machine'].mean()
old_machine_mean = data['Old machine'].mean()

In [90]:
data_new_machine_mean, data_old_machine_mean = data['New machine'].mean(), data['Old machine'].mean()

In [80]:
new_machine_std = data['New machine'].std()
old_machine_std = data['Old machine'].std()

In [95]:
data_new_machine_std, data_old_machine_std = data['New machine'].std(ddof=1), data['Old machine'].std(ddof=1)

In [100]:
len(data['New machine'])

10

In [107]:
sp = ( len(data['New machine']) - 1 ) * ( data_new_machine_std **2 ) +  ( len(data['Old machine']) - 1 ) * ( data_old_machine_std ** 2 )
sp /= ( len(data['New machine']) + len(data['Old machine']) - 2)
sp = np.sqrt(sp)
r = np.sqrt( (1/len(data['New machine'])) + (1/len(data['Old machine'])) )
t = ( data_new_machine_mean - data_old_machine_mean )/ (sp * r)

print("The mean of data New machine is {:.2f}".format(data_new_machine_mean))
print("The mean of data old_machine is {:.2f}".format(data_old_machine_mean))
print("The standard deviation of data New machine is {:.2f}".format(data_new_machine_std))
print("The standard deviation of data Old machine is {:.2f}".format(data_old_machine_std))
print("The ratio of the data variances is {:.2f} which is bigger than 0.5 and smaller than 2".format(data_new_machine_std/data_old_machine_std))
print("The t statistic is: {:.2f}".format(t))

The mean of data New machine is 42.14
The mean of data old_machine is 43.23
The standard deviation of data New machine is 0.68
The standard deviation of data Old machine is 0.75
The ratio of the data variances is 0.91 which is bigger than 0.5 and smaller than 2
The t statistic is: -3.40

In [87]:
st.ttest_rel(data['New machine'],data['Old machine'])

Ttest_relResult(statistic=-3.0614273841115853, pvalue=0.01354033565163249)

In [32]:
data.columns = ['New machine', 'Old machine']

In [44]:
data['New machine'].value_counts()

41.8    2
42.1    1
41.0    1
41.3    1
42.4    1
42.8    1
43.2    1
42.3    1
42.7    1
Name: New machine, dtype: int64

In [38]:
st.ttest_rel(data['New machine'],data['Old machine'])

Ttest_relResult(statistic=-3.0614273841115853, pvalue=0.01354033565163249)

In [109]:
S2t = 0
for machine in data['New machine'].unique():
    ng = len(data[data['New machine'] == machine])  
    S2t  += ( ( data[data['New machine'] == machine]['Old machine'].mean() - data['Old machine'].mean() ) ** 2) * ng
S2t /= ( data['New machine'].nunique() - 1 )
print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 0.60

In [111]:
S2E = 0
for machine in data['New machine'].unique():
    for rate in data[data['New machine'] == machine]['Old machine']:
        S2E += ( rate - data[data['New machine'] == machine]['Old machine'].mean() ) ** 2
S2E /= ( len(data) - data['New machine'].nunique() ) 

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

In [112]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 2.46

# pokemon

#H0:the defense and attack scores are equal.
#h1: the defense and attack scores are not equal

In [40]:
data2 = pd.read_csv('pokemon.csv')

In [41]:
data2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [43]:
st.ttest_rel(data2['Defense'],data2['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [120]:
data2 = data2[['Attack','Defense']]

In [123]:
Attack_mean = data2['Attack'].mean()
Defense_mean = data2['Defense'].mean()

In [124]:
Attack_mean, Defense_mean = data2['Attack'].mean(), data2['Defense'].mean()

In [126]:
Attack_std = data2['Attack'].std()
Defense_std = data2['Defense'].std()

In [127]:
Attack_std, Defense_std = data2['Attack'].std(ddof=1), data2['Defense'].std(ddof=1)

In [128]:
sp = ( len(data2['Attack']) - 1 ) * ( Attack_std **2 ) +  ( len(data2['Defense']) - 1 ) * ( Defense_std ** 2 )
sp /= ( len(data2['Attack']) + len(data2['Defense']) - 2)
sp = np.sqrt(sp)
r = np.sqrt( (1/len(data2['Attack'])) + (1/len(data2['Defense'])) )
t = ( data_new_machine_mean - data_old_machine_mean )/ (sp * r)

print("The mean of data New machine is {:.2f}".format(Attack_mean))
print("The mean of data old_machine is {:.2f}".format(Defense_mean))
print("The standard deviation of data New machine is {:.2f}".format(Attack_std ))
print("The standard deviation of data Old machine is {:.2f}".format(Defense_std ))
print("The ratio of the data variances is {:.2f} which is bigger than 0.5 and smaller than 2".format(Attack_std /Defense_std ))
print("The t statistic is: {:.2f}".format(t))

The mean of data New machine is 79.00
The mean of data old_machine is 73.84
The standard deviation of data New machine is 32.46
The standard deviation of data Old machine is 31.18
The ratio of the data variances is 1.04 which is bigger than 0.5 and smaller than 2
The t statistic is: -0.68

In [129]:
st.ttest_rel(data2['Attack'],data2['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [130]:
S2t = 0
for pokemon in data2['Attack'].unique():
    ng = len(data2[data2['Attack'] == pokemon])  
    S2t  += ( ( data2[data2['Attack'] == pokemon]['Defense'].mean() - data2['Defense'].mean() ) ** 2) * ng
S2t /= ( data2['Attack'].nunique() - 1 )
print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 2056.81

In [168]:
S2E = 0
for pokemon in data2['Attack'].unique():
    for rate in data2[data2['Attack']== pokemon]['Defense']:
        S2E += ( rate - data2[data2['Attack'] == pokemon]['Defense'].mean() ) ** 2
S2E /= ( len(data2) - data2['Attack'].nunique() ) 

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 799.28

In [169]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is nan

# Part 1

In [115]:
ANOVA= pd.read_excel('anova_lab_data.xlsx')

In [134]:
ANOVA.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [167]:
ANOVA['Power'].value_counts()

Series([], Name: Power, dtype: int64)

In [139]:
ANOVA.columns=ANOVA.columns.str.strip()

In [140]:
ANOVA['Power'].value_counts()

160 W    5
180 W    5
200 W    5
Name: Power, dtype: int64

In [144]:
ANOVA['Etching Rate']

0     5.43
1     6.24
2     8.79
3     5.71
4     6.71
5     9.20
6     6.22
7     5.98
8     7.90
9     6.01
10    5.66
11    8.15
12    5.59
13    6.60
14    7.55
Name: Etching Rate, dtype: float64

In [177]:
ANOVA['Power']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
Name: Power, dtype: float64

In [143]:
st.ttest_rel(ANOVA['Power'],ANOVA['Etching Rate'])

Ttest_relResult(statistic=nan, pvalue=nan)

In [142]:
ANOVA['Power'] =  pd.to_numeric(ANOVA['Power'], errors='coerce')
ANOVA['Etching Rate'] =  pd.to_numeric(ANOVA['Etching Rate'], errors='coerce')

In [179]:
ANOVA['Power']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
Name: Power, dtype: float64

In [145]:
ANOVA = ANOVA[['Power','Etching Rate']]

In [153]:
Power_mean = ANOVA ['Power'].mean()
Etching_Rate_mean = ANOVA ['Etching Rate'].mean()

In [154]:
Power_mean, Etching_Rate_mean = ANOVA ['Power'].mean(), ANOVA ['Etching Rate'].mean()

In [155]:
Power_std = ANOVA ['Power'].std()
Etching_Rate_std = ANOVA ['Etching Rate'].std()

In [156]:
Power_std, Etching_Rate_std = ANOVA ['Power'].std(ddof=1), ANOVA ['Etching Rate'].std(ddof=1)

In [176]:
Power_std

nan

In [162]:
sp = ( len(ANOVA ['Power']) - 1 ) * ( Power_std **2 ) +  ( len(ANOVA ['Etching Rate']) - 1 ) * (Etching_Rate_std ** 2 )
sp /= ( len(ANOVA ['Power']) + len(ANOVA ['Etching Rate']) - 2)
sp = np.sqrt(sp)
r = np.sqrt( (1/len(ANOVA ['Power'])) + (1/len(ANOVA ['Etching Rate'])) )
t = ( Power_mean - Etching_Rate_mean)/ (sp * r)

print("The mean of data Power is {:.2f}".format(Power_mean))
print("The mean of data Defense is {:.2f}".format(Etching_Rate_mean))
print("The standard deviation of data Power is {:.2f}".format(Power_std ))
print("The standard deviation of data Defense is {:.2f}".format(Etching_Rate_std ))
print("The ratio of the data variances is {:.2f} which is bigger than 0.5 and smaller than 2".format(Power_std /Etching_Rate_std ))
print("The t statistic is: {:.2f}".format(t))

The mean of data Power is nan
The mean of data Defense is 6.78
The standard deviation of data Power is nan
The standard deviation of data Defense is 1.23
The ratio of the data variances is nan which is bigger than 0.5 and smaller than 2
The t statistic is: nan

In [163]:
st.ttest_rel(ANOVA ['Power'],ANOVA ['Etching Rate'])

Ttest_relResult(statistic=nan, pvalue=nan)

In [170]:
S2t = 0
for ANOVA2 in ANOVA['Power'].unique():
    ng = len(ANOVA[ANOVA['Power'] == ANOVA2])  
    S2t  += ( ( ANOVA[ANOVA['Power'] == ANOVA2]['Etching Rate'].mean() - ANOVA['Etching Rate'].mean() ) ** 2) * ng
S2t /= ( ANOVA['Power'].nunique() - 1 )
print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is nan

In [173]:
S2E = 0
for ANOVA2 in ANOVA['Power'].unique():
    for rate in ANOVA[ANOVA['Power']== ANOVA2]['Etching Rate']:
        S2E += ( rate - ANOVA[ANOVA['Power'] == ANOVA2]['Etching Rate'].mean() ) ** 2
S2E /= ( len(ANOVA) - ANOVA['Power'].nunique() ) 

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.00

In [174]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

ZeroDivisionError: float division by zero